h1, h2, h3{
    font-family: 'Bodoni URW', YuMincho, 'Yu Mincho', serif;
}

/*#site-header {
    position: fixed;
    width: 100%;
    height: 95px;
    margin: 0 auto;
    justify-content: space-between;
}

#nav-menu {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 275px 0 220px;
}

.nav-menu-items {
    margin: 37px 25px 35px 25px;
    list-style-type: none;
    outline: none;
    font-size: 11pt;
    letter-spacing: 3px;
}

#nav-menu a  {
    font-family: 'Bodoni URW';
    text-decoration: none;
    color: #333333;
}

#corporate-logo {
    margin: 29px auto 24px auto;
    font-size: 25px;
}

#corporate-logo img {
    vertical-align: text-bottom;
}
*/
/* HEADER */
header {
    height:95px;
    display:flex;
    justify-content:center;
    
    align-items:center;
}
.header-left,.header-right {
    display:flex;
}
.header-message {
    color:rgba(51,51,51,1);
    font-size:36px;
    font-family:"Bodoni URW";
    vertical-align:middle;
    margin-right:90px;
    margin-left:90px;
}
.header-left li,.header-right li {
    font-family:"Bodoni URW";
    font-size:15px;
    vertical-align:middle;
}

.header-left li {
    margin-left:45px;
    list-style-type: none;
}
.header-right li {
    margin-right:45px;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
}

.swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: -1;
}

.swiper-slide {
    display: inline-block;
    position: relative;
}

.swiper-slide img {
    width: 100%;
    max-height: 100vh;
    object-fit: fill;
}

.primitive {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 352px;
    left: 248px;
    z-index: 1;
}

.taiko {
    position: absolute;
    top: 479.5px;
    left: 486.53px;
    z-index: 1;
    font-size: 24px;
    font-weight: lighter;
    letter-spacing: 5px;
    color: #333333;
}


.discover {
    position: absolute;
    top: 550.42px;
    left: 475.85px;
    z-index: 1;
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 1px;
}

.title-link a {
    text-decoration: none;
    color: #333333;
    border-bottom: 1px solid;
    padding-bottom: 8px;
}
/* MAIN */
main {
    height:800px;
    display:flex;
}
.image {
    position: absolute;
    bottom: 140px;
    left: 80px;
}
.image2 {
    margin-top:149px;
    margin-left:51px;
    width: 667px;
    height: auto;
}
.main-message {
    margin-top:120px;
    margin-left:80px;
}
.tag {
    font-family:Futura;
    font-size:20px;
    color:rgba(51,51,51,1);
}
.main-title {
    font-family:Didot;
    font-size:64px;
    color:rgba(51,51,51,1);
    margin-top:13px;
    margin-bottom:18px;
}
.desc{
    margin-top:5px;
    font-family:"Futura PT";
    font-size:18px;
    color:rgba(51,51,51,1);
}
.category {
    margin-top:38px;
    font-family:"Futura PT";
    font-size:15px;
    color:rgba(51,51,51,1);
}